html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: center;
  background-color: indianred;
  color: white;
  font-weight: 600;
}

header ul {
  display: none;
}

ul li {
  font-size: larger;
}

aside,
article,
footer {
  margin: 0 0.6em;
}

h1 {
  font-size: x-large;
}

p {
  font-size: larger;
}

@media screen and (min-width: 768px) {
  header {
    font-size: x-large;
  }

  ul li {
    font-size: x-large;
  }

  aside,
  article,
  footer {
    margin: 0 1em;
  }

  h1 {
    font-size: xx-large;
  }

  p {
    font-size: 1.55em;
  }
}

@media screen and (min-width: 1024px) {
  .container-full {
    width: 968px;
    margin: 0 auto;
  }

  .container-full:first-child {
    display: flex;
    justify-content: space-between;
  }

  header {
    color: white;
    font-weight: 600;
    padding: 0 1em;
  }

  header p {
    font-size: 1.5rem;
  }

  header ul {
    display: inherit;
    list-style: none;
    display: flex;
  }

  header ul li {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
