* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

header {
  width: 100%;
  background-color: darkcyan;
  color: white;

  text-align: center;
}

header h1 {
  padding: 1em;
}

header h1 span {
  font-size: 0.8em;
}

header ul {
  padding-bottom: 1.5em;
}
header ul li {
  display: inline-block;
  padding: 1em;
  font-weight: 600;
}

header ul li a {
  text-decoration: none;
  color: lightgray;
}

.container {
  width: 880px;
  margin: 0 auto;
}

.container aside {
  float: right;

  padding-left: 2.5em;
  padding-bottom: 2.5em;
  margin-top: 0;
}

.container aside ul {
  list-style: none;
}

.container aside ul li {
  font-size: 1.2em;
}

.container section {
  margin: 1.2em;

  margin-bottom: 2.5em;
}

.container section h2,
.container aside h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.container section p {
  font-size: 1.2em;
}

footer {
  width: 100%;
  background-color: darkcyan;
  color: white;

  text-align: center;
  padding: 1em 0;
}

footer a {
  color: lightblue;
}
